@import "tailwindcss";
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bricolage: var(--font-bricolage);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAF8;
    --foreground: #1F1F1F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

/* colors: {
  highlight: '#384C37',
  textPrimary: '#1F1F1F', //Dark Charcoal : Primary text
  textSecondary: '#555555', //Charcoal : For subtitles, meta text //Deep Sage Green : Used for buttons, headings, links
  surface: '#F0F0EC', // Soft Bone White : Card background        
  lightGreen: '#6B8E5E', //Moss Green : 	Soft highlight gradient
  background: '#FAFAF8', // Soft Bone White : Background
  link: '#D6B95A', //Dusty Gold : Used for hover or small UI highlights
  deepNavy: '#2B3A42', //Secondary Navy : Card headers, contrast blocks
},
}, */
